<div class="h-full container mx-auto flex flex-col items-center">
    <div class="p-5">
      <p class="text-2xl">Profile</p>
    </div>
    <div class="space-y-5">
 <!--     @if (failed) {
      <div>
        <p class="text-xl text-red-500">Failed data loading</p>
      </div>
      } @else { @for (flight of flights; track $index) { -->
      <div class="p-5 bg-stone-200 rounded-xl grid grid-cols-2 gap-3">
        <div class="flex flex-col">
          <p class="font-bold col-span-2">name</p>
          <p class="font-semibold">startLocation</p>
          <p>startDate</p>
          <p class="font-semibold">endLocation</p>
          <p>flight.endDate</p>
        </div>
        <div class="flex flex-col justify-between items-center">
          <p class="text-lg font-medium">flight.price</p>
          <a class="bg-red-500 rounded-xl p-5 text-white font-light hover:bg-red-400" (onClick)="removeBooking(0)"
            >Delete</a
          >
        </div>
      </div>
<!--      } } -->
    </div>
  </div>
  